.headerContainer{
    width: 100 vw;
    height: 100px;
    background: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    all: initial;
    color: black;
    border-bottom: 1px solid rgb(122, 147, 226);
    padding-top: 20px;
}
input::placeholder{
    color: rgb(122, 147, 226);
}
span{
    background: aqua;
    color: rgb(122, 147, 226);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-bottom: 5px;
    padding-right: 5px;
    font-style: italic;
    font-size: 0.7em;
}
button{
    all: initial;
    margin-top: 20px;
    margin-right: 20px;
    padding: 5px;
    background: aqua;
    border: 1px rgb(122, 147, 226) solid;
    color: rgb(71, 95, 173);
    border-radius: 10px;
    align-self: flex-end;
}