nav{
    width: 100 vw;
    height: 100px;
    background: aqua;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.loginRegisterContainer{
    display: flex;
    flex-direction: row
}
a{
    all: initial;
    color: rgb(122, 147, 226);
    border-bottom: 1px solid rgb(122, 147, 226);
    margin: 10px;
}
.active{
    color: rgb(71, 95, 173);
}
span{
    background: aqua;
    color: rgb(122, 147, 226);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-bottom: 5px;
    padding-right: 5px;
    font-style: italic;
    font-size: 0.7em;
}