.task{
    background: aqua;
    border-radius: 0.3em;
    padding: 0.3em;
    margin: 0.3em 0;
    display: flex;
    justify-content: space-between;
}
input{
    all: initial;
    color: black;
    border-bottom: 1px solid rgb(122, 147, 226);
    padding-top: 40px;
}
input::placeholder{
    color: rgb(122, 147, 226);
}
#icono{
    cursor: pointer;
    opacity: 0.5;
}