<!-- <p>
  list works!
</p> -->
<div class="list">
  <div class="list-header">
      <!-- Oculto los span o los muestro con la propiedad [hidden] y la variable editing
      sea true o false -->
      <span [hidden]="!editing" (dblclick)="editList()"><h1>{{list.name}}</h1></span>
      <span [hidden]="editing"><input class="text" (keyup.enter)="editListName()" [(ngModel)]="newListName"/></span>
      <div>
          <i id="icono" class="material-icons" (click)="cambioEditing()" >edit</i>
          <i id="icono" class="material-icons" (click)="delete()" >delete</i>
      </div>
  </div>
  <div class="tasks" ><app-task *ngFor="let taskObject of list.tasks" [task] = "taskObject" ></app-task></div>
  <input type="text" placeholder="añade una tarea" (keyup.enter)="addTask($event)"/>
</div>
